# Virtual environments
venv/
env/
.venv/
docs/.venv/
site/
docs/site/
.cache/
docs/.cache/
docs/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment and configuration files
.env
mkdocs.yml

# Logs
*.log

# Temporary files
.DS_Store
__MACOSX/
